* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 100vh;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  position: fixed;
  width: 100%;
  padding: 0px 20px;
  top: 3%;
  z-index: 30;
  gap: 20px;
}

.nowLocation {
  font-weight: bold;
  text-decoration: underline;
}
.nowLocation > p {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.02);

  word-break: keep-all;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#si {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 30px;
  padding: 1px 5px;
  padding-top: 5px;
}
#gu {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  padding: 1px 5px;
  padding-bottom: 5px;
}

.locationInputWrap {
  width: 100%;
  /* background-color: rgb(255, 0, 0); */
  /* From https://css.glass */

  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;

  transition: all 1s ease-in-out;
  padding: 5px 10px;
}
.locationInput {
  width: 0%;
  padding: 10px;
  transition: all 1s ease-in-out;
  background: rgba(137, 255, 163, 0.155);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.65);
  overflow: hidden;
  outline: none;
  border: none;
  font-size: 18px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid black;
  /* From https://css.glass */
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationInput::placeholder {
  font-size: 12px;
}
.inputSearchButton {
  padding: 10px;
  background: rgba(255, 255, 255, 0.59);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  /* background-color: blueviolet; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inputSearchButton > i {
  font-size: 22px;
}
.profileNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileNav > a > img {
  width: 70px;
}

.bottomMenu {
  z-index: 30;
  bottom: 5%;
  width: 100%;
  gap: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottomIcon {
  display: flex;
  justify-content: center;
  align-items: end;
}
.bottomIcon > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomIcon > a > img {
  width: 70px;
}

.bottomIcon > a:nth-child(2) > img {
  width: 85px;
}
