* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

#map {
  width: 100%;
  height: 100vh;
}

.selectedSpot {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: start;
  top: 0;
  left: 0%;
  width: 65%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3.5px);
  z-index: 100;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  overflow-y: scroll;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /* overflow-x: hidden; */
}
.selectedSpot::-webkit-scrollbar {
  display: none;
}

.placeinfoWrap {
  width: 90%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.placeinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d95050;
  width: 100%;
  padding: 8px 4px;
  border-radius: 5px;
  gap: 10px;
  color: white;
}

.placeinfo > a {
  font-size: 18px;
  font-weight: bold;
  word-break: keep-all;
  color: white;
}

.placeinfo > i {
  text-align: end;
}
.closeButton {
  position: sticky;
  top: 0;
  height: 100%;
  width: 10%;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  position: fixed;
  width: 100%;
  padding: 0px 20px;
  top: 3%;
  z-index: 30;
  gap: 20px;
}

.nowLocation {
  font-weight: bold;
  text-decoration: underline;
}
.nowLocation > p {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0 0px 30px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.02);

  word-break: keep-all;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#si {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 30px;
  padding: 1px 5px;
  padding-top: 5px;
}
#gu {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  padding: 1px 5px;
  padding-bottom: 5px;
}

.locationInputWrap {
  width: 100%;
  /* background-color: rgb(255, 0, 0); */
  /* From https://css.glass */

  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;

  transition: all 1s ease-in-out;
  padding: 5px 0px;
}
.locationInput {
  width: 0%;
  padding: 10px;
  transition: all 1s ease-in-out;
  background: rgb(255, 255, 255);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  outline: none;
  border: none;
  font-size: 18px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid black;
  /* From https://css.glass */
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationInput::placeholder {
  font-size: 12px;
}
.inputSearchButton {
  height: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.59);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;

  /* background-color: blueviolet; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.inputSearchButton > i {
  font-size: 21px;
}
.profileNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileNav > a > img {
  width: 70px;
}

.bottomMenu {
  z-index: 30;
  bottom: 5%;
  width: 100%;
  gap: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottomIcon {
  display: flex;
  justify-content: center;
  align-items: end;
}
.bottomIcon > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomIcon > a > img {
  width: 70px;
}

.bottomIcon > a:nth-child(2) > img {
  width: 85px;
}

.categoryWrap {
  position: fixed;
  right: 5%;
  top: 26%;
  /* width: 100%; */
  z-index: 20;
}

#category {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryName {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.48);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.5s ease-out;
}
.categoryName.on {
  background: rgba(0, 0, 0, 0.61);
  color: white;
}

#category > li:hover {
  cursor: pointer;
}

.placeinfoOnMap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #d95050;
  gap: 50px;
  color: white;
  border-radius: 10px;
  position: fixed;
  top: 210px;
  left: 20px;
  margin: 0 auto;
  z-index: 100;
}
.placeinfoOnMap > p {
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .inputSearchButton {
    width: 5%;
  }
  #category {
    flex-direction: row;
  }
  .categoryWrap {
    left: 20px;
    top: 260px;
  }
  .placeinfoWrap {
    width: 95%;
  }
  .closeButton {
    width: 5%;
  }
}
